body {
    margin: 50px 0 40px;
}

header h1 {
    margin: 0;
    padding: 0;
}
header h1 a.brand {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

footer {
    text-align: right;
    padding-right: 10px;
    padding-top: 2px; }
    footer a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

footer .navbar {
}
footer .navbar .navbar-inner {
    padding: 10px 0;
    border-top: 1px solid #e0e0e0;
    box-shadow: 0px 1px 10px 0px rgba(0, 0, 0, .1);
    min-height: 0;
    background-color: #e8e8e8;
    background-image: -webkit-linear-gradient(top, #e8e8e8, #d4d4d4);
    background-image:    -moz-linear-gradient(top, #e8e8e8, #d4d4d4);
    background-image:      -o-linear-gradient(top, #e8e8e8, #d4d4d4);
    background-image:         linear-gradient(top, #e8e8e8, #d4d4d4);
    background-repeat: repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8e8e8',endColorstr='#d4d4d4', GradientType=0);
}

/* smart phones */
@media screen and (max-device-width: 480px) {
}

@media (max-width: 979px) {
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar-fixed-top {
        margin-bottom: 0;
    }
    .navbar-fixed-bottom {
        margin-top: 0;
    }
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 5px;
    }
    .navbar .navbar-inner {
        padding: 0;
    }
    .navbar .container {
        width: auto;
        padding: 0 2%;
    }
    .navbar .brand {
        margin-left: 0;
    }
}

@media (max-width: 567px) {
    body {
        margin: 0;
    }

    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: static;
    }
    .navbar-fixed-top {
        margin-bottom: 10px;
    }
    .navbar-fixed-bottom {
        margin-right: -30px;
    }
    .navbar-fixed-top .navbar-inner,
    .navbar-fixed-bottom .navbar-inner {
        padding: 0 5px;
    }
    .navbar .container {
        width: auto;
        padding: 0 10px;
    }
    .navbar .brand {
        padding: 0;
        margin: 0 10px 0 -5px;
    }
}

@media (max-width: 320px) {
}
